Repository Saikrishna115/Shaadisetgo_Frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Final 1.5.4
  jsconfig.json
  package-lock.json
  package.json
Due: none

Final 1.5.5
  src/components/profile/ProfileTabs.jsx
Due: eslint --fix, prettier --write

Final 1.5.6
  src/components/ui/Form.jsx
Due: eslint --fix, prettier --write

Final 1.5.7
  README.md
  src/App.jsx
  src/context/AuthContext.jsx
  src/layouts/MainLayout.jsx
  src/main.jsx
  src/routes/AppRoutes.jsx
  src/services/api.js
Due: eslint --fix, prettier --write

Final 1.5.8
  src/routes/AppRoutes.jsx
Due: eslint --fix, prettier --write

Final 1.5.9
  src/routes/AppRoutes.jsx
Due: eslint --fix, prettier --write

Final 1.6.0
  src/pages/Services/VendorList.css
  src/pages/Services/VendorList.jsx
  src/pages/VendorList.css
  src/pages/VendorList.js
  src/pages/VendorList.jsx
  src/routes/AppRoutes.jsx
Due: eslint --fix, prettier --write

final version 1.6.1
  src/components/ui/Navbar.jsx
Due: eslint --fix, prettier --write

final version 1.6.2
  src/components/Navbar.js
  src/components/ui/Navbar.css
  src/components/ui/Navbar.jsx
Due: eslint --fix, prettier --write

final version 1.6.3
  src/App.js
  src/App.jsx
  src/index.js
  src/main.jsx
Due: eslint --fix, prettier --write

final version 1.6.4
  src/index.js
Due: eslint --fix, prettier --write

final version 1.6.5
  src/index.js
Due: eslint --fix, prettier --write

final version 1.6.6
  src/index.js
  src/styles/globals.css
Due: eslint --fix, prettier --write

final version 1.6.7
  src/components/BookingCalendar.css
  src/components/BookingCalendar.jsx
  src/components/Footer/Footer.css
  src/components/Footer/Footer.js
  src/components/ui/Footer.jsx
Due: eslint --fix, prettier --write

final version 1.6.8
  src/components/ui/Footer.jsx
  src/components/ui/Navbar.jsx
  src/pages/Home.js
  src/pages/Login.jsx
  src/pages/Register.jsx
  src/pages/Services/VendorList.jsx
  src/services/api/bookingService.js
  src/services/auth.js
  src/store/slices/authSlice.js
Due: eslint --fix, prettier --write

final version 1.6.9
  src/services/auth.js
  src/store/slices/authSlice.js
Due: eslint --fix, prettier --write

final version 1.7.0
  public/favicon.html
  public/icons/favicon.svg
  public/index.html
  public/manifest.json
  scripts/generate-favicon.js
  src/components/profile/ProfileTabs.jsx
  src/components/ui/Navbar.jsx
  src/pages/Login.jsx
  src/pages/Register.jsx
  src/pages/Services/VendorList.jsx
  src/store/slices/authSlice.js
Due: eslint --fix, prettier --write

final version 1.7.1
  src/App.jsx
  src/components/ui/Navbar.jsx
  src/pages/Login.jsx
  src/pages/Register.jsx
Due: eslint --fix, prettier --write

final version 1.7.2
  src/components/ui/Navbar.jsx
Due: eslint --fix, prettier --write

final version 1.7.3
  src/components/ui/Navbar.jsx
Due: eslint --fix, prettier --write

final version 1.7.4
  src/components/ui/Navbar.jsx
Due: eslint --fix, prettier --write

final version 1.7.5
  src/components/ui/Navbar.jsx
Due: eslint --fix, prettier --write

final version 1.7.7
  package.json
Due: none

final version 1.7.8
  vercel.json
Due: none

final version 1.7.9
  public/favicon.ico
  public/index.html
Due: none

final version 1.8.0
  vercel.json
Due: none

final version 1.8.1
  package.json
  vercel.json
Due: none

final version 1.8.2
  package.json
  public/favicon.html
  public/favicon.ico
  public/index.html
  public/manifest.json
  scripts/generate-favicon.js
Due: none

final version 1.8.3
  public/index.html
  public/manifest.json
  src/components/ui/Navbar.css
  src/components/ui/Navbar.jsx
Due: eslint --fix, prettier --write

final version 1.8.4
  src/components/VendorDetails.jsx
  src/components/common/NavigationLink.jsx
  src/components/ui/Navbar.jsx
Due: eslint --fix, prettier --write

final version 1.8.5
  public/images/logo.jpg.png
  src/components/ui/Footer.jsx
  src/pages/Home.css
  src/pages/Home.js
Due: eslint --fix, prettier --write

adjusted nav.css
  src/components/ui/Navbar.css
Due: prettier --write

modified registration
  src/pages/Login.jsx
  src/services/api/config.js
  src/services/auth.js
  vercel.json
Due: eslint --fix, prettier --write

removed linting
  .eslintrc.json
  src/services/api/config.js
Due: eslint --fix, prettier --write

corrected rendering issue
  src/components/UserProfileForm/UserProfileForm.js
  src/components/VendorProfileForm/VendorProfileForm.js
  src/components/ui/Navbar.jsx
  src/pages/BookingDetails.jsx
  src/pages/Register.jsx
Due: eslint --fix, prettier --write

corrected login iussue
  src/pages/Register.js
  src/pages/Register.jsx
  src/pages/VendorDashboard.jsx
Due: eslint --fix, prettier --write

corrected linting error in register
  src/pages/Register.jsx
Due: eslint --fix, prettier --write

corrected linting error in regis
  src/pages/Register.jsx
Due: eslint --fix, prettier --write

corrected regis
  src/components/ui/Navbar.jsx
Due: eslint --fix, prettier --write

corrected reg form
  src/context/AuthContext.jsx
  src/pages/Login.jsx
  src/pages/Register.jsx
  src/services/api/authService.js
  src/services/api/config.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx}
  prettier --write: (any of: src/**/*.{js,jsx}) or (any of: src/**/*.{json,css,scss,md})
