Repository Saikrishna115/Shaadisetgo_Frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

corrected image hero
  public/logo.jpg.png
  src/assets/hero-bg.png
  src/assets/logo bg.jpg
Due: none

corrected image hero 1
  public/logo.jpg.png
  src/assets/hero-bg.jpg
  src/assets/hero-bg.png
Due: none

corrected regf
  src/pages/Register.jsx
Due: eslint --fix, prettier --write

corrected regf guy
  src/pages/Register.jsx
Due: eslint --fix, prettier --write

corrected regf guy k
  src/pages/Register.jsx
Due: eslint --fix, prettier --write

corrected regf guy k kn
  src/pages/Register.jsx
Due: eslint --fix, prettier --write

corrected regf guy m
  src/pages/Register.jsx
  src/services/api/config.js
  src/services/auth.js
Due: eslint --fix, prettier --write

corrected regf guy msa
  src/pages/Register.jsx
Due: eslint --fix, prettier --write

fixed reg form
  src/pages/Register.jsx
  src/services/api/config.js
  src/services/auth.js
  src/store/slices/authSlice.js
Due: eslint --fix, prettier --write

removed linting issues
  src/pages/Register.jsx
  src/services/api/config.js
  src/services/auth.js
  src/store/slices/authSlice.js
Due: eslint --fix, prettier --write

modified version 1.0.0
  src/pages/BookingForm.css
  src/pages/BookingForm.jsx
  src/pages/CustomerDashboard.css
  src/pages/CustomerDashboard.jsx
  src/pages/HelpCenter.css
  src/pages/HelpCenter.jsx
  src/pages/Home.css
  src/pages/Home.js
  src/pages/Services/VendorList.css
  src/pages/Services/VendorList.jsx
  src/pages/VendorDetails.css
  src/pages/VendorDetails.jsx
  src/styles/base.css
  src/styles/components.css
  src/styles/theme.css
Due: eslint --fix, prettier --write

modified version 1.0.1
  src/pages/Home.js
  src/pages/Services/VendorList.jsx
Due: eslint --fix, prettier --write

modified version 1.0.2
  src/assets/hero-bg.png
  src/assets/logo.jpg
Due: none

modified version 1.0.1
  src/assets/hero-bg.jpg
  src/assets/hero-bg.png
Due: none

modified version 1.0.2
  src/pages/Home.js
Due: eslint --fix, prettier --write

modified version 1.0.3
  src/pages/Home.css
Due: prettier --write

modified version 1.0.4
  src/pages/Home.css
Due: prettier --write

fixed bg image
  src/pages/Home.css
Due: prettier --write

fixed bg image 1
  src/pages/Home.css
Due: prettier --write

fixed bg image 2
  src/pages/Home.css
Due: prettier --write

fixed bg image 3
  src/pages/Home.css
Due: prettier --write

corrected home
  src/pages/Home.css
Due: prettier --write

corrected home 1
  src/assets/hero-bg.jpg
  src/pages/Home.css
Due: prettier --write

corrected home 2
  public/index.html
  public/logo.svg
  src/App.jsx
  src/components/Header.jsx
  src/pages/Home.css
  src/pages/Home.js
  src/theme.js
Due: eslint --fix, prettier --write

corrected home 3
  src/pages/Home.css
  src/pages/Home.js
Due: eslint --fix, prettier --write

corrected home 4
  src/pages/Home.js
Due: eslint --fix, prettier --write

corrected home 5
  src/components/Header.jsx
Due: eslint --fix, prettier --write

corrected home 6
  src/components/Header.jsx
Due: eslint --fix, prettier --write

corrected home 7
  package.json
  src/components/Header.jsx
  src/components/ui/sheet.jsx
  src/lib/utils.js
Due: eslint --fix, prettier --write

corrected home 8
  jsconfig.json
Due: none

corrected home 9
  webpack.config.js
Due: none

corrected home 10
  webpack.config.js
Due: none

corrected home 11
  src/components/Header.jsx
Due: eslint --fix, prettier --write

corrected home 12
  src/components/Header.jsx
  src/components/ui/Button.jsx
  src/components/ui/sheet.jsx
Due: eslint --fix, prettier --write

corrected home 13
  src/components/ui/Button.jsx
Due: eslint --fix, prettier --write

corrected home 14
  src/components/Header.jsx
Due: eslint --fix, prettier --write

corrected home 15
  jsconfig.json
  package.json
  src/App.jsx
  src/components/Header.jsx
  src/pages/Blog.jsx
  src/pages/Chat.jsx
  src/pages/Contact.jsx
  src/pages/FAQ.jsx
  src/routes/AppRoutes.jsx
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
Due: eslint --fix, prettier --write

corrected home 16
  package-lock.json
  package.json
  src/pages/Chat.jsx
Due: eslint --fix, prettier --write

corrected home 17
  package.json
Due: none

corrected home 18
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx}
  prettier --write: (any of: src/**/*.{js,jsx}) or (any of: src/**/*.{json,css,scss,md})
